asgiref==3.5.0
backports.zoneinfo==0.2.1
Django==4.0.3
django-debug-toolbar==3.2.4
django-environ==0.8.1
django-filter==21.1
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
importlib-metadata==4.11.3
Markdown==3.3.6
Pillow==9.0.1
psycopg2==2.9.3
PyJWT==1.7.1
pytz==2022.1
sqlparse==0.4.2
zipp==3.7.0
